<?xml version="1.0"?>

<model>
  <name>swing_slide</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Your name</name>
    <email>Your email address</email>
  </author>

  <description>
    A simple swing with slide, taken from here
    https://3dwarehouse.sketchup.com/model/94cd430a9805029e61fcb945a48db072/Hinta-swing
  </description>
</model>