<?xml version="1.0"?>

<model>
  <name>garden_world</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Patrick Weber</name>
    <email>info@weberpatrick.de</email>
  </author>

  <description>
    A complete garden world with house, greenhouse, complex lawn shape and obstacles
  </description>
</model>