<?xml version="1.0"?>

<model>
  <name>raised_bed</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Your name</name>
    <email>Your email address</email>
  </author>

  <description>
    A raised bed taken from here
    https://3dwarehouse.sketchup.com/model/a4877f65-c9ad-49d9-ac3f-647391bc4306/Raised-Garden-Bed
  </description>
</model>