<?xml version="1.0"?>

<model>
  <name>Single family house</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Your name</name>
    <email>Your email address</email>
  </author>

  <description>
    Nice house for a family, taken from here
    https://3dwarehouse.sketchup.com/model/3e9d089add721c143f852594791ddc2b/Einfamilienhaus
  </description>
</model>