<?xml version="1.0"?>

<model>
  <name>Park bench</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Your name</name>
    <email>Your email address</email>
  </author>

  <description>
    A park bench, take a rest
    taken from here
    https://3dwarehouse.sketchup.com/model/acb4928c-a922-4972-900e-016e01a383c7/BENCH
  </description>
</model>