<?xml version="1.0"?>

<model>
  <name>greenhouse1</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Your name</name>
    <email>Your Mail</email>
  </author>

  <description>
    A greenhouse taken from here
    https://3dwarehouse.sketchup.com/model/9dc953f7a52d9a4beae483415a4d3cf7/greenhouse
  </description>
</model>