<?xml version="1.0"?>

<model>
  <name>barrel</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <author>
    <name>Your name</name>
    <email>Your email address</email>
  </author>

  <description>
    A barrel for collected rain water, taken form here
    https://3dwarehouse.sketchup.com/model/558ed69ba799ae7ab1c91d38d425379/Wine-Barrel
  </description>
</model>